# common, PHPStorm
.DS_Store
/.idea
Thumbs.db

# ignore everything
/

# exclude bitrix
/www/crazyfish.com.ua/bitrix
/www/crazyfish.com.ua/upload

# settings
!/.gitignore
!/www/crazyfish.com.ua/bitrix/tools
!/www/crazyfish.com.ua/bitrix/js
!/www/crazyfish.com.ua/bitrix/templates/.default
!/www/crazyfish.com.ua/bitrix/templates/market2_ru_custom
!/www/crazyfish.com.ua/bitrix/templates/market2_v1_custom

