# common, PHPStorm
.DS_Store
**/.idea
Thumbs.db

# ignore everything
/

# exclude bitrix
/www/crazyfish.com.ua/bitrix
/www/crazyfish.com.ua/upload

# settings
!/.gitignore
!/www/crazyfish.com.ua/bitrix/.default
!/www/crazyfish.com.ua/bitrix/market2_ru_custom
!/www/crazyfish.com.ua/bitrix/market2_v1_custom
!/www/crazyfish.com.ua/bitrix/js

